@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    width: 100%;
    height: 100%;
    background-color: #183c4d;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    background-color:#171a21;
    width: 10px;

}
body::-webkit-scrollbar-thumb {
    background-color:#1f3445;
    border-radius: 10px;
}

.cabecario{
    width: 100%;
    min-height: 80px;
    background-color: #171a21;
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabecario h1{
    font-size: 50px;    
    font-family: 'Koulen', cursive;
    color:#c5c3c0;
}
.carrinho .parteVisivelCarrinho {
    transition: 1s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: #1fa91f;
    color: #FFF;
}
.carrinho .parteVisivelCarrinho .img{
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrinho .parteVisivelCarrinho .valoresCarrinho p{
    line-height: 20px;
}
.carrinho .parteVisivelCarrinho button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 50px;
    background-color: #19c019;
    border: none;
    font-size: 30px;
    color:white;
}
.carrinho .parteVisivelCarrinho:hover {
    transition: 1s;
    background-color: #18bf18;
}

    /* Parte do carrinho que sera acionada via javascript .ocultar_mostrar */

.ocultar_mostrar {
    transition: 0.5s;
    margin-top: 5px ;
    position:absolute;
    right: 80px;
    width: 450px;
    height: 300px;
    background-color: #171a21;
    border: 2px solid #c5c3c0;
    overflow: hidden;
    overflow-y: scroll;
    padding: 10px 25px;
    box-shadow: 0px 0px 19px 0px #000000;
}
.ocultar_mostrar:hover {
    transition: 0.5s;
    border: 2px solid #184251;
}
.ocultar_mostrar::-webkit-scrollbar {
    background-color: #171a21;
    width: 10px;
}

.ocultar_mostrar::-webkit-scrollbar-thumb {
   background-color: transparent;
   border-radius: 5px;
}
.ocultar_mostrar::-webkit-scrollbar-thumb:hover {
    background-color: #203256;
    border-radius: 5px;
 }


    .ocultar_mostrar div {
        width: 400px;
        height: 100px;
        background-color: rgba(255, 255, 255, 0.134);
        margin: 10px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .ocultar_mostrar div button{
        min-width: 20px;
        height: 100px;
        border: none;
        background-color: rgb(255, 73, 73);
    }
    .ocultar_mostrar div button:hover{
        transition: 1s;
        background-color: rgb(255, 55, 55);
    }
    .ocultar_mostrar div .descricaoProduto{
        min-width: 200px;
        height: 100px;
        background-color: #1f3445;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        font-family: 'Roboto', sans-serif;
        padding-left: 10px;
        font-weight: 600;
    }
    .ocultar_mostrar div .descricaoProduto h2{
        color: #c5c3c0;
    }
    .ocultar_mostrar div .descricaoProduto h2:hover{
        transition: 1s;
        color: #FFF;
    }
    .ocultar_mostrar div .descricaoProduto p{
        color: #439cc4;
        background-color: #294152;
        padding: 10px;
    }
    .ocultar_mostrar div .divIMG{
        overflow: hidden;
        min-width: 180px;
        height: 100px;
        background-color: #1c1f25;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ocultar_mostrar div .divIMG img{
        transition: 1s;
        width: 180px;
    }
    .ocultar_mostrar div .divIMG img:hover{
        transition: 1s;
        width: 210px;
    }
    
    /* Fim */

.nav {
    width: 100%;
    min-height: 80px;
    background-color: #171a21;
    padding: 0px 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.botoesCabecario {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 380px;
    width:50%;
    height: 40px;
    background: rgb(27,56,126);
    background: linear-gradient(266deg, rgba(27,56,126,1) 2%, rgba(44,93,148,1) 65%, rgba(59,100,145,1) 100%);
}
.nav .botoesCabecario .botao {
    transition: 0.5s;
    margin-right: 5px;
    border: none;
    min-width: 90px;
    width: 25%;
    height: 40px;
    background-color:transparent;
    color: #c5c3c0;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-shadow: 0px 2px 2px #000000;
}
.nav .botoesCabecario .botao:hover {
    transition: 0.5s;
    background-color: #2f65a1;
    color: #FFF;
}


/* barra pesquisa */

.barra_pesquisa{
    display: flex;    
    justify-content: flex-start;
    text-align: center;
    background-color: transparent;
    width: 210px;
    height: 30px;
    margin-right: 10px;
}
.barra_pesquisa input{
    box-sizing: border-box;
    background-color: #316282;
    height: 30px;
    border: none;
}
.barra_pesquisa button{
    transition: 1s;
    background-color: #5398c2;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.barra_pesquisa input:focus {
    outline: 0;
    border: 1px solid #66c0f4;
}
.barra_pesquisa input::placeholder{
    transition: 1s;
    color: #000;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
}
.barra_pesquisa input:focus::placeholder{
    transition: 1s;
    padding-left: 20px;
    color: transparent;
}
.barra_pesquisa button:hover {
    transition: 1s;
    background-color: #6da8cb;
}
    /* produtos */

.produtos {
    box-sizing: border-box;
    width: 90%;
    height:auto;
    background: rgb(58,102,138);
    background: radial-gradient(circle, rgba(58,102,138,1) 0%, rgba(24,60,77,1) 100%);
    margin: 5px 0px 5px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px;
    overflow: hidden;
    box-shadow: 0px 0px 11px -2px #000000;
}
.produtos .fechado {
    transition: 1s;
    box-sizing: border-box;
    min-width: 470px;
    height: 310px;
    background-color: #171a21;
    margin: 1px 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0px 0px 11px -2px #000000;
}
.produtos .fechado figure{
    overflow: hidden;
    width: 470px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.produtos .fechado button{
    transition: 1s;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border: none;
    padding: none;
    background-color: #171a21;
    color:#c5c3c0;
    font-size: 22px;
    font-family: 'Koulen', cursive;
}
.produtos .fechado button:hover{
    transition: 1s;
    color: #FFF;
    background-color: #1c1f25;
}
.produtos .fechado:hover{
    transition: 1s;
    margin-bottom: 50px;
}
.produtos .fechado figure img {
    transition: 1s;
    width: 100%;
}
.produtos .fechado figure img:hover {
    transition: 1s;
    width: 110%;
}

    /* Produtos apos aberto  */

.abertos {
    transition: 1s;
    box-sizing: border-box;
    min-width: 470px;
    max-width: 470px;
    height: 500px;
    background-color: #1f3445;
    margin: 1px 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0px 0px 0px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 0px 11px -2px #000000;
}
.abertos h1{
    margin:0px 20px;
    font-size: 30px;
    color: #c5c3c0;
    font-weight: 700;
}
.abertos .categoria{    
    margin:0px 20px;
    font-size: 15px;
    color: #67c1f5;
    font-weight: 400;
    background-color: #294152;
    padding: 5px;

}
.abertos .descricao{    
    margin:0px 20px;
    font-size: 20px;
    color: #c5c3c0;
    line-height: 25px;
    font-weight: 400;

}
.abertos .valor{
    margin:0px 20px;
    font-size: 20px;
    font-weight: 600;
    color: #439cc4;
    background-color: #294152;
    padding: 10px;
}
.abertos div button {
    width: 470px;
    height: 50px;
    border: none;
    padding: 0px;
    margin-top: 1px;
    color:#c5c3c0;
    font-size: 25px;
    font-family: 'Koulen', cursive;
    background-color: #171a21;
}
.abertos div button:hover {
    transition: 1s;
    color: #FFF;
    background-color: #1c1f25;
}    
    /* nav lista produtos */

.navListaProdutos {
    box-sizing: border-box;
    width: 90%;
    height: 50px;
    background: rgb(58,102,138);
    background: radial-gradient(circle, rgba(58,102,138,1) 0%, rgba(24,60,77,1) 100%);
    margin-bottom: 40px;
    padding: 10px;
    box-shadow: 0px 0px 11px -2px #000000;
}
.navListaProdutos button{
    transition: 1s;
    width: 2%;
    height: 30px;
    margin: 0px 1px;
    background-color: #171a21;
    border: none;
    padding: 0;
    border-radius: 2px;
    font-family: 'Koulen', cursive;
    color: #c5c3c0;
}
.navListaProdutos button:hover{
    transition: 1s;
    background-color: #1c1f25;
    color: #FFF;
}
.cabacalhoProdutos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 90%;
    height: 50px;
    background-color: #0c161f;
    padding: 10px;
    padding:0px 45px ;
    margin-top:40px;
    font-family: 'Koulen', cursive;
    font-size: 30px;
    color: #c5c3c0;
    box-shadow: 0px 0px 11px -2px #000000;
}
.cabacalhoProdutos h2:hover {
    transition: 1s;
    color: #c5c3c0;
}
.cabacalhoProdutos h2:hover {
    transition: 1s;
    color: #FFF;
}
    /*  */

.ocultarSuspenso {
    overflow: hidden;
    position: absolute;
    margin-left: 11%;
    top: 140px;
    min-width: 120px;
    width: 13%;
    height: auto;
    background-color:#30414d;
    padding: 5px 0px;
    box-shadow: 0px 0px 19px 0px #000000;
}

.ocultarSuspenso .botaoSuspenso{
    text-align: start;
    box-sizing: border-box;
    min-width: 100px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color:#c5c3c0;
    padding:0px 15px;
    font-size: 15px;
    text-shadow: 0px 2px 2px #000000;
}
.ocultarSuspenso .botaoSuspenso:hover {
    color:#FFF;
}

    /* Propaganda Games */

.propaganda {
    box-sizing: border-box;
    width: 90%;
    height: 40%;
    background-color: transparent;
    margin-top: 40px;
    display: flex;
    box-shadow: 0px 0px 11px -2px #000000;
}
.propaganda figure{
    overflow: hidden;
    width: 65%;
    height: 40%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.propaganda figure img {
    width: 100%;
}

.propaganda .blocoAoLadoImagem {
    box-sizing: border-box;
    width: 36%;
    height: auto;
    background-color: #0d1721;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding:2% 0% 2% 4.5%;
    border-top: 3px solid #17212a;
    border-right: 3px solid #17212a;
    border-bottom: 3px solid #17212a;
}
.propaganda .blocoAoLadoImagem h2{
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color:#c5c3c0;
    text-shadow: 0px 2px 2px #000000;
}
.propaganda .blocoAoLadoImagem .blocoImagens{
    width: 90%;
    height: 50%;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}   
.propaganda .blocoAoLadoImagem .blocoImagens img{
    width: 45%;
    margin: 2px;
    box-shadow: 0px 0px 11px -2px #000000;
}
.propaganda .blocoAoLadoImagem p{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color:#439cc4;
    font-size: 1.5vw;
    background-color: #17222c;
    padding: 10px;
}

    /* botoes propaganda */

#voltar, #Proseguir{
    position: absolute; 
    width: 4%;
    height: 8%;
    background: rgb(0,0,0);
    background: linear-gradient(94deg, rgba(0,0,0,0.7483368347338936) 27%, rgba(0,0,0,0.5914740896358543) 59%, rgba(0,0,0,0) 100%);
    margin-top: 13%;
    color: #FFF;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0px;
    font-weight: 600;
}
#voltar{
    left: 5%;
    background: rgb(0,0,0);
    background: linear-gradient(94deg, rgba(0,0,0,0.7483368347338936) 27%, rgba(0,0,0,0.5914740896358543) 59%, rgba(0,0,0,0) 100%);
}
#Proseguir {
    right: 5%;
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,0.7483368347338936) 27%, rgba(0,0,0,0.5914740896358543) 59%, rgba(0,0,0,0) 100%);
}